{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ezayd - Authentication</title>
    <link rel="stylesheet" href="{% static 'css/inscription.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="root">
      <div class="all-container">
        <!-- Login Form -->
        <div class="form-container form-container-login active">
          

          {% comment %}----------------------------------------------------------------- {%endcomment %}
          <div class="form-header">
            <img
              class="logo"
              src="{% static 'img/mini_logo.png' %}"
              alt="Ezayd Logo"
            />
            <h1 class="title">Login</h1>
            <p class="description">Login to your account</p>
          </div>

          {% if messages %}
          <ul class="errorlist description">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </br>
          <form
            class="auth-form login-form"
            autocomplete="off"
            method="post"
            action="{% url 'connexion' %}"
          >
            {% csrf_token %}
            <div class="input-group">
              <div class="input-container">
                <i class="fas fa-envelope input-icon"></i>
                <input
                  type="email"
                  placeholder="Email"
                  required
                  name="email"
                  autocomplete="email"
                />
              </div>
            </div>

            <div class="input-group">
              <div class="input-container">
                <i class="fas fa-lock input-icon"></i>
                <input
                  type="password"
                  placeholder="Password"
                  required
                  name="password"
                  autocomplete="current-password"
                />
                <button type="button" class="toggle-visibility">
                  <i class="fas fa-eye-slash"></i>
                </button>
              </div>
            </div>

            <div class="forgot-password">
              <a href="#" class="link">Forgot password?</a>
            </div>

            <div class="form-actions">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </form>

          <p class="form-switch">
            Don't have an account?
            <a type="button" class="link-btn" href="{% url 'inscription' %}">
              Create account
            </a>
          </p>
        </div>

        <!-- Background Animation -->
        <div class="background-animation"></div>
      </div>
    </div>
  </body>
</html>
